<?xml version="1.0" encoding="UTF-8"?>
<!-- xml header (반드시 첫 번째 줄에 위치해야 함) -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 앞으로 작성할 태그의 자동완성 및 유효성 검사 -->

<mapper namespace="pocketmon">
	<!-- 목록 구문 -->
	<select id="list" resultType="PocketmonDto">
		select * from pocketmon
	</select>
	
	<!-- 상세 구문 : mybatis는 ? 홀더 대신 네이밍 홀더를 사용함 -->
	<select id="find" resultType="PocketmonDto">
		select * from pocketmon where no = #{no}
	</select>
	
	<!-- 등록 구문
			: resultType은 select에만 있으며 네이밍 홀더를 사용함
			- #{name}은 전달되는 데이터(객체)의 name 필드를 의미
			- #{type}은 전달되는 데이터(객체)의 type 필드를 의미		 
	-->
	<insert id="add">
		insert into pocketmon(no, name, type) values(pocketmon_seq.nextval, #{name}, #{type})
	</insert>
	
	<!-- 수정 구문 -->
	<update id="edit">
		update pocketmon set name=#{name}, type=#{type} where no=#{no}
	</update>
</mapper>